{% extends "base.html" %} {% block main %}

<body>
    <div id="head" style="display: block; height: 50px;background-color: rgb(86, 223, 223);">
        <lable style="font-family:'华文彩云'; font-size: 1.5em; margin-left: 80%;">{{username}} <input name="logout" type="button"
                value="退出" onclick="logout()"></lable>
    </div>
    <br>
    <div onmousemove="pic_change()" style="padding-left: 500px;">
        <img id="hb" src='/static/img/245.jpg' style='height:400px;'></img>
        <div id="cai" style="background:black;position: absolute; z-index: 10; overflow: hidden; height:0px;width:0dx"><img
                src='/static/img/244.jpg' style='height:400px;'></img>
        </div>
    </div>
    <script>
        function logout() {
            $.ajax({
                url: "/UserControllers/logout",
                type: "get",
                success: function (x) {
                    if (x) {
                        location.href = "/";
                    }
                },
                error: function (e) {
                    console.log("退出error");
                    console.log(e);
                },
            })
        }

        pic_change = () => {
            var m = getMousePos();
            width_change(m.x);
        }

        function getMousePos() {
            var e = window.event;
            var scrollX = document.documentElement.scrollLeft || document.body.scrollLeft;
            var scrollY = document.documentElement.scrollTop || document.body.scrollTop;
            var x = e.pageX || e.clientX + scrollX;
            var y = e.pageY || e.clientY + scrollY;
            return {
                x: x,
                y: y
            }
        }

        width_change = width => fixtable("#cai", "hb", 400, width);

        function fixtable(mask_id, table_id, height, width) {
            var tableObj = document.getElementById(table_id);
            var $maskObj = $(mask_id);
            var mask_position = {
                left: 0,
                top: 0,
                height: height,
                width: width
            };

            while (tableObj) {
                mask_position.left += tableObj.offsetLeft;
                mask_position.top += tableObj.offsetTop;
                tableObj = tableObj.offsetParent;
            }
            mask_position.width -= mask_position.left;
            mask_position.width = mask_position.width > $('#hb').width() ? $('#hb').width() : mask_position.width;

            $maskObj.css(mask_position);
        }
    </script>
</body>

{% endblock %}